<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Đổi mật khẩu</title>
	<link rel="stylesheet" th:href="@{css/common.css}">
	<link rel="stylesheet" th:href="@{css/changePassword.css}">
	<script th:src="@{js/changePassword.js}"></script>
</head>

<body>
	<div class="main">
		<div class="content-account-form">
			<img class="logo" th:src="@{img/logo.png}">
			<p class="title-account-form"><b>Đổi Mật Khẩu</b></p>
			<form th:action="@{/changePassword}" method="post" th:object="${passwordDTO}">
				<input type="password" placeholder="Mật khẩu hiện tại" class="input-email" th:field="*{oldPassword}">
				<br>
				<input type="password" placeholder="Mật khẩu mới" class="input-password" th:field="*{newPassword}">
				<br>
				<input type="password" placeholder="Nhập lại mật khẩu mới" class="input-password" th:field="*{confirmPassword}">
				<br>
                <button type="button" class="button-cancel"><b>Đóng</b></button>
                <button type="submit" class="button-submit"><b>Đổi Mật Khẩu</b></button>
			</form>
			<p>Bạn quên mật khẩu?<a href="/reset-password">Đặt lại mật khẩu.</a></p>
		</div>
	</div>
</body >
</html >