<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Xác nhận xóa tài khoản</title>
	<link rel="stylesheet" th:href="@{css/common.css}">
	<link rel="stylesheet" th:href="@{css/confirmDeleteAccount.css}">
	<script th:src="@{js/confirmDeleteAccount.js}"></script>
</head>

<body>
	<div class="main">
		<div class="content-account-form">
			<img class="logo" th:src="@{img/logo.png}">
			<p class="title-account-form"><b>Xóa Tài Khoản</b></p>
			<p class="heed">
                Cảnh báo!
				<br>
				Bạn đang thực hiện thao tác Xóa tài khoản đối với tài khoản [email tài khoản].
				<br>
				Khi thao tác Xóa tài khoản này được thực hiện thành công,bản sẻ không thể đăng nhập với tài khoản trên được nữa.
				<br>
				Hãy nhập mật khẩu đăng nhập của tài khoản và chọn Xóa tài khoản để hoàn tất việc xóa tài khoản.
            </p>
			<form action="loginProccess" method="post">
				<input type="password" placeholder="Nhập mật khẩu đăng nhập của tài khoản" class="input-password">
				<br>
				<button type="submit" class="button-cancel"><b>Đóng</b></button>
                <button type="submit" class="button-submit"><b>Đổi Mật Khẩu</b></button>
			</form>
		</div>
	</div>
</body >
</html >