<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Đăng nhập</title>
	<link rel="stylesheet" th:href="@{/css/common.css}">
	<link rel="stylesheet" th:href="@{/css/login.css}">
	<script th:src="@{/js/login.js}"></script>
</head>


<body>
	<div class="main">
		<div class="content-account-form">
			<img class="logo" th:src="@{/img/logo.png}">
			<p class="title-account-form"><b>Đăng Nhập</b></p>
			<form th:action="@{/authenticate}" method="post" >
				<div>
					<input type="email" placeholder="Email" class="input-email" name="email" id="input-email">
					<br>
					<input  type="password" placeholder="Mật khẩu" class="input-password" name="password" id="input-password">
					<br>
					<div>
						<input type="checkbox" id="rememberLogin" name="missedLogin">
						<label for="rememberLogin">Ghi nhớ đăng nhập.</label>
					</div>
					<br>
					<button type="submit" class="button-submit"><b>Đăng Nhập</b></button>
				</div>

			</form>
			<br>
			<p>Bạn đã chưa có tài khoản?<a th:href="@{/register}">Đăng ký.</a></p>
			<p>Bạn quên mật khẩu?<a href="/reset-password">Đặt lại mật khẩu.</a></p>
		</div>
	</div>
</body>

</html>