<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<meta http-equiv="X-UA-Compatible" content="EI=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Đăng ký</title>
	<link rel="stylesheet" th:href="@{css/common.css}">
	<link rel="stylesheet" th:href="@{css/register.css}">
	<script th:src="@{js/register.js}"></script>
	<title>Insert title here</title>
</head>

<body>
	<div class="main">
		<div class="content-account-form">
			<img th:src="@{img/logo.png}" class="logo">
			<p class="title-account-form"><b>Đăng Ký</b></p>
			<input type="email" placeholder="Email" class="input-email" name="password" id="input-email">
			<br>
			<input type="password" placeholder="Mật khẩu" class="input-password" id="input-password" name="password">
			<br>
			<button type="submit" id="button-register" class="button-submit"><b>ĐăngKý</b></button>
			<p>Bạn đã có tài khoản?<a href="/login">Đăng nhập.</a></p>
			<p>Bạn quên mật khẩu?<a href="/reset-password">Đặt lại mật khẩu.</a></p>
		</div>
	</div>
</body>
<!--<script type="module">
	import {initializeApp} from "https://www.gstatic.com/firebasejs/9.6.11/firebase-app.js";
	import {getAuth, createUserWithEmailAndPassword} from "https://www.gstatic.com/firebasejs/9.6.11/firebase-auth.js";

	const firebaseConfig = {
    apiKey: "AIzaSyAKZA6neWrjgYjjDZfNCmglBVSsXz0s-0M",
    authDomain: "tomtep-d2007.firebaseapp.com",
    databaseURL: "https://tomtep-d2007-default-rtdb.firebaseio.com",
    projectId: "tomtep-d2007",
    storageBucket: "tomtep-d2007.appspot.com",
    messagingSenderId: "955933707956",
    appId: "1:955933707956:web:11fc4824a5d4035b9291e1",
    measurementId: "G-D87WJS53ZP"
  };

	const app = initializeApp(firebaseConfig);
	const auth = getAuth();

	var email = document.getElementById('input-email').value;
	var password = document.getElementById('input-password').value;

	document.getElementsByClassName('button-submit')[0].addEventListener('click', (e) => {
		createUserWithEmailAndPassword(auth, email, password)
			.then((userCredential) => {
				const user = userCredential.user;
				alert('created');
			})
			.catch((error) => {
				const errorCode = error.error;
				const errorMessage = error.mesage;
				alert('erroMessage');
			});
	});
</script>-->

</html>