<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Đặt lại mật khẩu</title>
	<link rel="stylesheet" th:href="@{css/common.css}">
	<link rel="stylesheet" th:href="@{css/resetPassword.css}">
	<script th:src="@{js/resetPassword.js}"></script>
</head>
<body>
    <div class="main">
		<div class="content-account-form">
			<img class="logo" th:src="@{img/logo.png}">
			<p class="title-account-form"><b>Đặt Lại Mật Khẩu</b></p>
			<form action="resetPasswordProccess" method="post">
				<input type="email" placeholder="Email" class="input-email">
				<br>
				<button type="submit" class="button-submit"><b>Đặt Lại</b></button>
			</form>
			<p class="heed">
                Lưu ý! 
                <br>
                Hãy nhập email tài khoản bạn cần đặt lại mật khẩu và chọn Đặt Lại.
                <br>
                Sau đó,đường dẫn đến trang đặt lại mật khẩu cho tài khoản của bản sẽ được gửi đến hợp thư đến của email.
                <br>
                Vui lòng kiểm tra hợp thư và làm theo hướng đẫn trong đấy.
            </p>
		</div>
	</div>
</body>
</html>