/* CSS for login.html */
.main{
	padding-top: 5%;
    padding-left: 8%;
    padding-bottom: 8%;
    background: url("/img/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-size: cover;
}

.main .content-account-form form #rememberLogin{
    margin-top: 10px;
    margin-left: 15%;
    width: fit-content;
    height: 20px;
    float: left;
}

.main .content-account-form form label{
    margin-top: 10px;
    margin-left: 5px;
    width: fit-content;
    height: 20px;
    float: left;
}
